<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/jquery/jquery.js"></script>
    <style>
        div.container {
            width: 100%;
            height: 100%;
            border: 1px solid gray;
        }
        
        nav {
            float: left;
            max-width: 30%;
            margin: 0;
            padding: 1em;
        }
        
        article {
            margin-left: 170px;
            max-width: 60%;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
    <title>Chat</title>
</head>

<body>
    <div class="container">
        <nav>
            <div>
                <h2> Chat history</h2>
            </div>
            <div id="chatHistory" style="height: 350px;width: 100%;overflow: auto;border: 1px solid #CCCCCC;margin: 1em 0;">
                <div id='UpdateHistory'></div>
                <% data1.forEach(function(data1) { %>
                    <%if (data1.person1 !== formData.sender) { %>
                        <ul class='<%=data1._id %>'>
                            Name: <input type='text' name="studentName" value="<%= data1.person1 %>" readonly>
                            <input type='text' id='<%=data1._id %>' value="<%= data1.message[0].ownermessenger %>: <%= data1.message[0].messContent %>" readonly>
                            <button onclick="chatBox('<%=data1.person1 %>','<%=formData.sender%>','<%=data1._id %>')"> Chat</button>
                        </ul>
                        <% } %>
                            <%if (data1.person2 !== formData.sender) { %>
                                <ul class='<%=data1._id %>'>
                                    Name: <input type='text' name="studentName" value="<%= data1.person2 %>" readonly>
                                    <input type='text' id='<%=data1._id %>' value="<%= data1.message[0].ownermessenger %>: <%= data1.message[0].messContent %>" readonly>
                                    <button onclick="chatBox('<%=data1.person2 %>','<%=formData.sender %>','<%=data1._id %>')"> Chat</button>
                                </ul>
                                <% } %>
                                    <% }); %>
            </div>
        </nav>
        <article>
            <div>
                <h2 id='conversation'>Conversation between
                    <%=formData.sender %> and
                        <%=formData.studentName %>
                </h2>
                <div id="scroll_box" style="height: 350px;width: 100%;overflow: auto;border: 1px solid #CCCCCC;margin: 1em 0;">
                    <div id='messContent'>
                        <% data.forEach(function(data) { %>
                            <% data.message.forEach(function(message) { %>
                                <ul>
                                    <%=message.ownermessenger %>:
                                        <%=message.messContent %>
                                </ul>
                                <% }); %>
                                    <% }); %>
                                        <div id="lol"></div>
                    </div>
                </div>
            </div>
            <input id="receiver" type="hidden" value="<%=formData.studentName %>" />
            <input id="name" type="hidden" value="<%=formData.sender %>" />
            <% data.forEach(function(data) { %>
                <input id="_idRoom" type="hidden" value="<%=data._id %>" />
                <% }); %>
                    <input id="mess" type="text" />
                    <button id="btnChat">Send</button>
        </article>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    // select relevant elements
    const _idRoom = document.querySelector("#_idRoom");
    const receiver = document.querySelector("#receiver");
    const name = document.querySelector("#name");
    const mess = document.querySelector("#mess");

    // establish socket.io connection
    const socket = io();

    $(document).ready(function() {
        createRoom();
        $('#scroll_box').scrollTop($('#messContent').height())
    });

    function chatBox(receiver, sender, _idRoom) {
        var Room = '#' + _idRoom
        $(Room).css("font-weight", "normal");
        $('#receiver').val(receiver)
        $('#name').val(sender)
        $('#_idRoom').val(_idRoom)
        $('#conversation').html("Conversation between" + sender + " and " + receiver)
        $('#messContent').html("")

        $.ajax({
            url: '/messenger/getMessenger',
            method: 'get',
            dataType: 'json',
            data: {
                sender: sender,
                receiver: receiver
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $.each(response.data, function(index, data) {
                        $.each(data.message, function(index, message) {
                            $('#messContent').append("<ul>" + message.ownermessenger + ": " + message.messContent + "</ul>")
                        });
                    });
                }
                $('#messContent').append('<div id="lol"></div>')

                $('#scroll_box').scrollTop($('#messContent').height())
            },
            error: function(response) {
                alert('server error');
            }
        });

        socket.emit("tao-room", {
            sender: sender,
            _idRoom: _idRoom,
            receiver: receiver,
        });
    }

    function createRoom() {
        socket.emit("tao-room", {
            sender: name.value,
            _idRoom: _idRoom.value,
            receiver: receiver.value,
        });
    }

    $("#btnChat").click(function() {
        socket.emit("user-chat", {
            sender: name.value,
            mess: mess.value,
            receiver: receiver.value,
            _idRoom: _idRoom.value,
        })
        mess.value = "";
    })

    socket.on("server-chat", addMessageToHTML)

    // add message to our page
    function addMessageToHTML(message) {
        // create a new li element
        const ul = document.createElement("ul");
        // add message to the elements text
        ul.innerText = message.sender + ": " + message.mess;
        // add to list of messages
        $('#lol').append(ul);
        var newMess = '#' + message._idRoom
        $(newMess).val(message.sender + ": " + message.mess)
        if (message._idRoom != _idRoom.value) {
            $(newMess).css("font-weight", "bold");
        } else if (message.receiver == $('#name').val()) {
            $(newMess).css("font-weight", "normal");
        }
        $('#scroll_box').scrollTop($('#messContent').height())
        var newestMess = '.' + message._idRoom
        $(newestMess).prependTo("#UpdateHistory");
    }
</script>

</html>