<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/jquery/jquery.js"></script>

    <style>
        div.container {
            width: 100%;
            height: 100%;
            border: 1px solid red;
        }
        
        nav {
            float: left;
            max-width: 30%;
            margin: 0;
            height: 100%;
            padding: 1em;
        }
        
        article {
            max-width: 70%;
            border-left: 1px solid blue;
            padding: 1em;
            overflow: hidden;
            height: 100%;
        }
    </style>
    <title>Chat</title>
</head>

<body>
    <div class="container">
        <nav>
            <div>
                <h2> Chat history</h2>
                Add chat: <input type='text id=' addChat '>

            </div>
            <div id="chatHistory" style="height: 350px;width: 100%;overflow: auto;border: 1px solid #CCCCCC;margin: 1em 0;">
                <div id="UpdateHistory"></div>
                <% data1.forEach(function(data1) { %>
                    <%if (data1.person1 !== formData.sender) { %>
                        <ul class='<%=data1._id %>'> Name: <input type='text' name="studentName" value="<%= data1.person1 %>" readonly>
                <input type='text' id='<%=data1._id %>' value="<%= data1.message[0].ownermessenger %>: <%= data1.message[0].messContent %>" readonly>
                <button onclick="chatBox('<%=data1.person1 %>','<%=formData.sender%>','<%=data1._id %>')"> Chat</button>
                <input type="text" class='allID' value="<%=data1._id %>"></input>
                </ul>
                <% } %>
                    <%if (data1.person2 !== formData.sender) { %>
                        <ul class='<%=data1._id %>'>
                            Name: <input type='text' name="studentName" value="<%= data1.person2 %>" readonly>
                            <input type='text' id='<%=data1._id %>' value="<%= data1.message[0].ownermessenger %>: <%= data1.message[0].messContent %>" readonly>
                            <button onclick="chatBox('<%=data1.person2 %>','<%=formData.sender %>','<%=data1._id %>')"> Chat</button>
                            <input type="text" class='allID' value="<%=data1._id %>"></input>
                        </ul>
                        <% } %>
                            <% }); %>
            </div>
        </nav>
        <article>
            <h2 id='conversation'>Conversation between
                <%=formData.sender %> and
                    <%=formData.studentName %>
            </h2>
            <div id="scroll_box" style="height: 350px;float: left;width:60%;margin: 0;padding: 1em;border: 1px solid #CCCCCC;">
                <div id='messContent' style="height: 300px;">
                    <% data.forEach(function(data) { %>
                        <% data.message.forEach(function(message) { %>
                            <ul>
                                <%=message.ownermessenger %>:
                                    <%=message.messContent %>
                            </ul>
                            <% }); %>
                                <% }); %>
                                    <div id="lol"></div>
                </div>
                <div style="height: 350px;">
                    <input id="mess" type="text" style=" width:85%;height: 40px;" />
                    <button id="btnChat" style="height: 45px;">Send</button>
                </div>
            </div>
            <div class='inforChat' style="height: 150px;max-width: 40%;border: 1px solid gray;padding: 1em;overflow: hidden;text-align: center;">
                <h3>Thông tin chat hiện tại</h3>
                <input id="receiver" type="text" value="<%=formData.studentName %>" />
                <input id="name" type="text" value="<%=formData.sender %>" />
                <% data.forEach(function(data) { %>
                    <input id="_idRoom" type="text" value="<%=data._id %>" />
                    <% }); %>
            </div>
        </article>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    // select relevant elements
    const _idRoom = document.querySelector("#_idRoom");
    const receiver = document.querySelector("#receiver");
    const name = document.querySelector("#name");
    const mess = document.querySelector("#mess");

    // establish socket.io connection
    const socket = io();

    $(document).ready(function() {
        connectAllConversation();
        $('#scroll_box').scrollTop($('#messContent').height())
    });
    //tạo room cho tất cả cuọco trò chuyện "online" để nhận thông báo khi người khác gửi tin nhắn
    function connectAllConversation() {
        var idConversationList = [];
        $('.allID').each(function() {
            idConversationList.push($(this).attr('value'));
        });
        socket.emit("tao-room", {
            idConversationList
        });
    }

    function chatBox(receiver, sender, _idRoom) {
        var Room = '#' + _idRoom
        $(Room).css("font-weight", "normal");
        $('#receiver').val(receiver)
        $('#_idRoom').val(_idRoom)
        $('#name').val(sender)
        $('#conversation').html("Conversation between" + sender + " and " + receiver)
        $('#messContent').html("")
        $.ajax({
            url: '/messenger/getMessenger',
            method: 'get',
            dataType: 'json',
            data: {
                sender: sender,
                receiver: receiver
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $.each(response.data, function(index, data) {
                        $.each(data.message, function(index, message) {
                            $('#messContent').append("<ul>" + message.ownermessenger + ": " + message.messContent + "</ul>")
                        });
                    });
                }
                $('#messContent').append('<div id="lol"></div>')
                $('#scroll_box').scrollTop($('#messContent').height())
            },
            error: function(response) {
                alert('server error');
            }
        });
    }

    $("#btnChat").click(function() {
            //sender gửi tin nhắn đền server và thông qua server gửi đến người nhận
            socket.emit("user-chat", {
                sender: name.value,
                mess: mess.value,
                receiver: receiver.value,
                _idRoom: _idRoom.value,
            })
            mess.value = "";
        })
        // server gửi tin nhắn lại từ sender cho receiver
    socket.on("server-chat", addMessageToHTML)

    // add message to our page
    function addMessageToHTML(message) {
        // create a new li element
        const ul = document.createElement("ul");
        // add message to the elements text
        ul.innerText = message.sender + ": " + message.mess;
        // add to list of messages
        $("#lol").append(ul);
        var newMess = '#' + message._idRoom
        $(newMess).val(message.sender + ": " + message.mess)
            //tin nhắn gửi đến nếu chưa xem thì in đậm, xem r thì in bt
        if (message._idRoom != _idRoom.value) {
            $(newMess).css("font-weight", "bold");
        } else if (message.receiver == $('#name').val()) {
            $(newMess).css("font-weight", "normal");
        }
        $('#scroll_box').scrollTop($('#messContent').height())
        var newestMess = '.' + message._idRoom
            //hiển thị cuộc trò chuyện mới nhất lên đầu lịch sử
        $(newestMess).prependTo("#UpdateHistory");
    }
</script>

</html>