<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/jquery/jquery.js"></script>

    <title>Chat</title>
</head>

<body>
    <div>
        <h2>Conversation between {{formData.sender}} and {{formData.studentName}}</h2>
        <div id="scroll_box" style="height: 120px;width: 400px;overflow: auto;border: 1px solid #CCCCCC;margin: 1em 0;">
            {{#each data}}
            {{#each message}}

            <ul>{{ownermessenger}}: {{messContent}}</ul>
            {{/each}}
            {{/each}}
            <div id="lol"></div>
        </div>

    </div>
    <input id="receiver" type="hidden" value="{{formData.studentName}}" />
    <input id="name" type="hidden" value="{{formData.sender}}" />
    <input id="senderRole" type="hidden" value="{{formData.senderRole}}" />
    <input id="mess" type="text" />
    <button id="btnChat">Send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        // select relevant elements
        const form = document.querySelector("form");
        const input3 = document.querySelector("#senderRole");
        const input4 = document.querySelector("#receiver");
        const input = document.querySelector("#name");
        const input1 = document.querySelector("#mess");
        messageList = document.querySelector("#lol");

        // establish socket.io connection
        const socket = io();

        $(document).ready(function () {
            createRoom();
            $('#scroll_box').scrollTop($(document).height());

        });
        function createRoom() {
            socket.emit("tao-room", {
                sender: input.value,
                senderRole: input3.value,
                receiver: input4.value,
            });
        }

        $("#btnChat").click(function () {
            socket.emit("user-chat", {
                sender: input.value,
                senderRole: input3.value,
                mess: input1.value,
                receiver: input4.value,
            })
            input1.value = "";
        })

        socket.on("server-chat", addMessageToHTML)

        // add message to our page
        function addMessageToHTML(message) {
            // create a new li element
            const ul = document.createElement("ul");
            // add message to the elements text
            ul.innerText = message.sender + ": " + message.mess;
            // add to list of messages
            messageList.append(ul);
            $('#scroll_box').scrollTop($(document).height());
        }
    </script>
</body>

</html>