<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h2>Create class</h2>
    <form method="post" action="/admin/createClass">
        <label for="className">Class Name</label>
        <input type="text" name="className">
        <br>

        <label for="level">Level</label>
        <select id="mySelect" class="level" name="classLevel" onchange="level()">
      <option value="beginner">Beginner</option>
      <option value="highBeginner">High Beginner</option>
      <option value="lowIntermediate">Low Intermediate</option>
      <option value="intermediate">Intermediate</option>
      <option value="highAdvanced">High Advanced </option>
      <option value="advanced">Advanced</option>
    </select>
        <br>
        <label for="topic">Description</label>
        <input type="text" name="description">
        <br>
        <label for="topic">Total slot</label>
        <input type="number" name="totalSlot" onchange="totalSlot()">
        <br>
        <label for="topic">Student</label>
        <div id="demo1"></div>
        <br>
        <label for="topic">Teacher</label>
        <select name="facultyID">
          <% teacher.forEach(function(teacher) { %>
            <option value="<%= teacher._id %>" name="facultyID"><%= teacher.username %> </option>
          <% }); %>
            <option value="None" name="facultyID">None</option>
    </select>
        <br>
        <label for="topic">endDate</label>
        <input type="date" name="endDate">
        <br>
        <label for="topic">startDate</label>
        <input type="date" name="startDate">
        <!-- {{!-- tìm cách tạo lịch r tạo sự kiện chọn ngày giờ từ lịch r ms lưu vào db --}} -->
        <!-- {{!-- <br>
        <label for="topic">Schedule</label>
        <input type="date" name="Schedule"> 
        --}}  -->
        <br>
        <button type="submit" class="btn5">Submit</button>
    </form>
</body>
<script>
    function level() {
        var x = document.getElementById("mySelect").value;
        const table = "<table id='table' class='table' border='solid' style='text-align:center;'><th>Name</th><th>Email</th><th>Choose</th><th><input id='myInput' type='text' placeholder='Search..'></th>"
        if (x === "beginner") {
            document.getElementById("demo1").innerHTML = table + "<tbody class='taskrow'><% student.forEach(function(student) { %><% if(student.level ==='beginner'){ %><tr><td><ul> <img style ='max-width:150px;max-height:200px' src='data:image/jpeg;base64,<%= student.avatar %>'> </ul><ul><%= student.username %></ul></td><td><%= student.email %><%= student._id %></td><td><input type='checkbox' name='hobby' value='<%= student._id %>' /></td></tr><% } %><% }); %></tbody></table>";
        } else if (x === "highBeginner") {
            document.getElementById("demo1").innerHTML = table + "<tbody class='taskrow'><% student.forEach(function(student) { %><% if(student.level ==='highBeginner'){ %><tr><td><ul> <img style ='max-width:150px;max-height:200px' src='data:image/jpeg;base64,<%= student.avatar %>'>  </ul><ul><%= student.username %></ul></td><td><%= student.email %><%= student._id %></td><td><input type='checkbox' name='hobby' value='<%= student._id %>' /></td></tr><% } %><% }); %></tbody></table>";
        } else if (x === "lowIntermediate") {
            document.getElementById("demo1").innerHTML = table + "<tbody class='taskrow'><% student.forEach(function(student) { %><% if(student.level ==='lowIntermediate'){ %><tr><td><ul> <img style ='max-width:150px;max-height:200px' src='data:image/jpeg;base64,<%= student.avatar %>'>  </ul><ul><%= student.username %></ul></td><td><%= student.email %><%= student._id %></td><td><input type='checkbox' name='hobby' value='<%= student._id %>' /></td></tr><% } %><% }); %></tbody></table>";
        } else if (x === "intermediate") {
            document.getElementById("demo1").innerHTML = table + "<tbody class='taskrow'><% student.forEach(function(student) { %><% if(student.level ==='intermediate'){ %><tr><td><ul> <img style ='max-width:150px;max-height:200px' src='data:image/jpeg;base64,<%= student.avatar %>'>  </ul><ul><%= student.username %></ul></td><td><%= student.email %><%= student._id %></td><td><input type='checkbox' name='hobby' value='<%= student._id %>' /></td></tr><% } %><% }); %></tbody></table>";
        } else if (x === "highAdvanced") {
            document.getElementById("demo1").innerHTML = table + "<tbody class='taskrow'><% student.forEach(function(student) { %><% if(student.level ==='highAdvanced'){ %><tr><td><ul> <img style ='max-width:150px;max-height:200px' src='data:image/jpeg;base64,<%= student.avatar %>'>  </ul><ul><%= student.username %></ul></td><td><%= student.email %><%= student._id %></td><td><input type='checkbox' name='hobby' value='<%= student._id %>' /></td></tr><% } %><% }); %></tbody></table>";
        } else if (x === "advanced") {
            document.getElementById("demo1").innerHTML = table + "<tbody class='taskrow'><% student.forEach(function(student) { %><% if(student.level ==='advanced'){ %><tr><td><ul> <img style ='max-width:150px;max-height:200px' src='data:image/jpeg;base64,<%= student.avatar %>'>  </ul><ul><%= student.username %></ul></td><td><%= student.email %><%= student._id %></td><td><input type='checkbox' name='hobby' value='<%= student._id %>' /></td></tr><% } %><% }); %></tbody></table>";
        }
    }
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".taskrow tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</html>