<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/jquery/jquery.js"></script>
        <link rel="stylesheet" href="/css/admin/createRoute.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>


<body>
        <div class="createRouteOut" style="display: none;">
                <div class="createRoute">
                        <h2>Create route</h2>
                        <label>routeName </label>
                        <input type="text" name="routeName" id="routeName">
                        <br>
                        <label>Description</label>
                        <input type="text" name="description" id="description">
                        <br>
                        <button onclick="addRoute('create')">Add route</button>

                        <br>
                        <div id="addStage" style="text-align: left;"></div>
                        <br>
                        <button type="submit" onclick="doCreateRoute()">Submit</button>
                        <button onclick='$(".createRouteOut").fadeOut(500);'>close</button>

                </div>
        </div>
        <div class="updateRouteOut" style="display: none;">
                <div class="updateRoute">
                        <table border="solid">
                                <h2>update route</h2>
                                <input type="hidden" id="routeIDUpdate">
                                <label>routeName </label>
                                <input type="text" name="routeName" id="routeNameUpdate">
                                <br>
                                <label>Description</label>
                                <input type="text" name="description" id="descriptionUpdate">
                                <br>
                                <button onclick="addRoute('update')">Add route</button>
                                <br>
                                <div id="addStageUpdate" style="text-align: left;"></div>
                                <br>
                                <button type="submit" onclick="doUpdateRoute()">Submit</button>
                                <button onclick='$(".updateRouteOut").fadeOut(500);'>close</button>

                        </table>
                </div>
        </div>


           <div class="viewRouteOut" style="display: none;">
                <div class="viewRoute">
                        <table border="solid">
                                <h2>update route</h2>
                                <label>routeName </label>
                                <input type="text" name="routeName" id="routeNameView">
                                <br>
                                <label>Description</label>
                                <input type="text" name="description" id="descriptionView">
                                <br>
                                <button onclick="addRoute('update')">Add route</button>
                                <br>
                                <div id="viewStage" style="text-align: left;"></div>
                                <br>
                                <button onclick='$(".viewRouteOut").fadeOut(500);'>close</button>
                        </table>
                </div>
        </div>
        <header>
                <ul style="float:left;font-family:cursive;">
                        <li style="width:200px"><i class="fas fa-graduation-cap" style="font-size:60px"></i>Sown English
                        </li>
                </ul>
                <ul>
                        <li><a href="#">Home page</a></li>
                        <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutCourse').offset().top-100)},1000)">About
                                        Course</a></li>
                        <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutUs').offset().top-100)},1000)">About
                                        Us</a>
                        </li>
                        <li><a onclick="$('#loginForm').fadeIn(1000);">Log In</a></li>
                </ul>
        </header>
        <div class="body">
                <button onclick='$(".createRouteOut").fadeIn(500);'>Create Route</button> <input type="text" id='searchRoute' placeholder="Nhập tên lộ trình "><button onclick="search()">Search</button>
                <table border="solid">
                        {{#each data}}
                        <tr>
                                <th>Tên lộ trình</th>
                                <th>Miêu tả</th>
                                <th>action</th>
                        </tr>
                        <tr id="{{_id}}">
                                <td>{{routeName}}</td>
                                <td>{{description}}</td>
                                <td><button onclick="updateRoute('{{_id}}')">Update</button>
                                        <button onclick="deleteRoute('{{_id}}')">Remove</button>
                                        <button onclick="viewSchedule('{{_id}}')">Lộ trình học</button>
                                </td>
                        </tr>
                        {{/each}}
                </table>

        </div>
</body>
<script>

        function addRoute(type) {
                if (type == "create") {
                        var add = "<div><button onclick =$(this).parent().remove() > Delete </button><button onclick =$(this).parent().prependTo('#addStage') > Đẩy lên đầu </button><button onclick=addClass($(this).parent(),'create')>Add Class</button><br>Stage: <input type='text' name='stageTest'> Giá tiền: <input type='text' name='stageMoney'><br></div>"
                        $('#addStage').append(add)
                } else {
                        var add = "<div><button onclick =$(this).parent().remove() > Delete </button><button onclick =$(this).parent().prependTo('#addStageUpdate') > Đẩy lên đầu </button><button onclick=addClass($(this).parent(),'update')>Add Class</button><br>Stage: <input type='text' name='stageTestUpdate'> Giá tiền: <input type='text' name='stageMoneyUpdate'><br></div>"
                        $('#addStageUpdate').append(add)
                }
        }

        function addClass(test, type) {
                if (type == "create") {
                        var add = "<li>route<input type='text' name='classIn'><button onclick=$(this).parent().remove();>Xóa</button><br></li>"
                        test.append(add)
                } else {
                        var add = "<li><label>route<input type='text' name='classInUpdate'><button onclick=$(this).parent().remove();>Xóa</button><br></label></li>"
                        test.append(add)
                }
        }

        function viewSchedule(id) {
                $(".viewRouteOut").fadeIn(500)
                var _id = id
                $.ajax({
                        url: '/admin/lol',
                        method: 'get',
                        dataType: 'json',
                        data: { _id: _id },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        $("#viewStage").html("")
                                        var data = response.data
                                        $("#routeNameView").val(data[0].routeName)
                                        $("#descriptionView").val(data[0].description)
                                        data[0].routeSchedual.forEach(function (e, indexBIG) {
                                                var add = "<div>Stage: <input type='text' name='stageTestUpdate' value='" + e.stage + "'> Giá tiền: <input type='text' name='stageMoneyUpdate'value='" + e.price + "'><br></div>"
                                                $("#viewStage").append(add)
                                                e.routeabcd.forEach(function (e, index) {
                                                        var add = "<li>route<input type='text' name='classInUpdate' value='" + e + "'><br></li>"
                                                        $("#viewStage div:nth-child(" + (indexBIG + 1) + ")").append(add)
                                                })
                                        })
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                });
        }

        function search(){
                var name = "/"+$("#searchRoute").val() +"/i"
                 $.ajax({
                        url: '/admin/searchRoute',
                        method: 'get',
                        dataType: 'json',
                        data: {name:name},
                        success: function (response) {
                                if (response.msg == 'success') {
                                        console.log(response.data)
                                }
                              
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }

        function doCreateRoute() {
                var schedule = []
                var stageMoney = [];
                $("input[name='stageMoney']").each(function (index, e) {
                        stageMoney.push($(this).val())
                });
                $("input[name='stageTest']").each(function (index, e) {
                        var routeabcd = []
                        $(this).parent().find('input[name="classIn"]').each(function (index, e) {
                                routeabcd.push($(e).val())
                        })
                        schedule.push({ stage: $(this).val(), price: stageMoney[index], routeabcd: routeabcd })
                })
                var formData = {
                        schedule: schedule,
                        routeName: $("#routeName").val(),
                        description: $("#description").val(),
                };
                $.ajax({
                        url: '/admin/docreateRoute',
                        method: 'post',
                        dataType: 'json',
                        data: formData,
                        success: function (response) {
                                if (response.msg == 'success') {
                                        alert('Sign Up success');
                                }
                                if (response.msg == 'Account already exists') {
                                        alert('Account already exists');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }

        function doUpdateRoute() {
                var schedule = []
                var stageMoney = [];
                $("input[name='stageMoneyUpdate']").each(function (index, e) {
                        stageMoney.push($(this).val())
                });
                $("input[name='stageTestUpdate']").each(function (index, e) {
                        var routeabcd = []
                        $(this).parent().find('input[name="classInUpdate"]').each(function (index, e) {
                                routeabcd.push($(e).val())
                        })
                        schedule.push({ stage: $(this).val(), price: stageMoney[index], routeabcd: routeabcd })
                })
                console.log(schedule)
                var formData = {
                        id: $("#routeIDUpdate").val(),
                        schedule: schedule,
                        routeName: $("#routeNameUpdate").val(),
                        description: $("#descriptionUpdate").val(),
                };
                $.ajax({
                        url: '/admin/doUpdateRoute',
                        method: 'post',
                        dataType: 'json',
                        data: formData,
                        success: function (response) {
                                if (response.msg == 'success') {
                                        alert('Sign Up success');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }

        async function updateRoute(id) {
                $("#routeIDUpdate").val(id)
                $(".updateRouteOut").fadeIn(500)
                var _id = id
                $.ajax({
                        url: '/admin/lol',
                        method: 'get',
                        dataType: 'json',
                        data: { _id: _id },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        $("#addStageUpdate").html("")
                                        var data = response.data
                                        $("#routeNameUpdate").val(data[0].routeName)
                                        $("#descriptionUpdate").val(data[0].description)
                                        data[0].routeSchedual.forEach(function (e, indexBIG) {
                                                var add = "<div><button onclick =$(this).parent().remove() > Delete </button><button onclick =$(this).parent().prependTo('#addStageUpdate') > Đẩy lên đầu </button><button onclick=addClass($(this).parent(),'update')>Add Class</button><br>Stage: <input type='text' name='stageTestUpdate' value='" + e.stage + "'> Giá tiền: <input type='text' name='stageMoneyUpdate'value='" + e.price + "'><br></div>"
                                                $("#addStageUpdate").append(add)
                                                e.routeabcd.forEach(function (e, index) {
                                                        var add = "<li>route<input type='text' name='classInUpdate' value='" + e + "'><button onclick=$(this).parent().remove();>Xóa</button><br></li>"
                                                        $("#addStageUpdate div:nth-child(" + (indexBIG + 1) + ")").append(add)
                                                })
                                        })
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                });
        }

        function deleteRoute(id) {
                $.ajax({
                        url: '/admin/deleteRoute',
                        method: 'delete',
                        dataType: 'json',
                        data: { id: id },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        alert('success');
                                }
                                if (response.msg == 'error') {
                                        alert('error');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }
</script>

</html>