<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/jquery/jquery.js"></script>
</head>


<body>
        <table border="solid">
                {{#each data}}
                <tr>
                <th><button>Update</button><button>Remove</button></th>
                {{#each routeSchedual}}
                <td >Stage {{@index}}: {{stage}}</td>
                {{/each}}
                </tr>
                <tr>
                        <td>
                                <p>Lộ trình:{{routeName}}</p>
                                <p>Miêu tả:{{description}}</p>
                                <p><button onclick="viewSchedule('{{_id}}')">Lộ trình học</button></p>
                        </td>
                        {{#each routeSchedual}}
                        <td >
                                {{#each routeabcd}}
                                <li>
                                        {{this}}
                                </li>
                                {{/each}}
                        </td>
                        {{/each}}
                </tr>
                <tr>
                </tr>
                {{/each}}
        </table>
        <h2>Create route</h2>
        <label>routeName </label>
        <input type="text" name="routeName" id="routeName">
        <br>
        <label>Description</label>
        <input type="text" name="description" id="description">
        <br>
        <label>Total of stage</label>
        <input type="number" name="totalStage" id="totalStage" onchange="totalStage()">
        <br>
        <div id="addStage"></div>
        <br>
        <button type="submit" onclick="signUp()">Submit</button>
        <br><br><br><br><br><br><br><br>


</body>
<script>
        function totalStage() {
                var stage = 1;
                $('#addStage').html("");
                var totalStage = parseInt($('#totalStage').val());
                for (stage = 1; stage < totalStage + 1; stage++) {
                        var add = "<label>stage" + stage + "</label><input type='text' value='" + stage + "' name='stage'><br><label onclick='addRoute(" + stage + ")'>add route</label><br><div id='" + stage + "'></div>"
                        $('#addStage').append(add)
                }
        }
        var route = 0;
        var uuuu = 1;
        function addRoute(stage) {
                if (stage === uuuu) {
                        route = route + 1
                        uuuu = stage
                } else if (stage != uuuu) {
                        route = 1
                        uuuu = stage
                }
                var x = '#' + stage
                var add = "<div id= 'remove_field" + route + "'><label>route</label><input type='text' value='route" + route + "' name='route" + stage + "'><button onclick=deleteRoute('remove_field" + route + "')>&times;</button></div>"
                $(x).append(add)
        }
        function deleteRoute(abcx) {
                abcx = "#" + abcx
                $(abcx).remove();

        }
        function signUp() {
                var stageContent = [];
                var totalStage = parseInt($('#totalStage').val());
                $("input[name='stage']").each(function () {
                        stageContent.push($(this).val())
                });
                route = [];
                pre = 1;
                for (stage = 1; stage < totalStage + 1; stage++) {
                        if (pre < stage) {
                                route.push("space")
                        }
                        var y = "input[name='route" + stage + "']"
                        $(y).each(function () {
                                route.push($(this).val())
                        });
                }
                var formData = {
                        stageContent: stageContent,
                        route: route,
                        totalStage: totalStage,
                        routeName: $("#routeName").val(),
                        description: $("#description").val(),
                };
                $.ajax({
                        url: '/admin/docreateRoute',
                        method: 'post',
                        dataType: 'json',
                        data: formData,
                        success: function (response) {
                                if (response.msg == 'success') {
                                        if (formData.role == "student") {
                                                getStudent();
                                        } else if (formData.role == "teacher") {
                                                getTeacher();
                                        } else if (formData.role == "guardian") {
                                                a
                                                getGuardian();
                                        }
                                        alert('Sign Up success');
                                }
                                if (response.msg == 'Account already exists') {
                                        alert('Account already exists');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })

        }
</script>

</html>