<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
    <!-- checkdate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.29.0/date_fns.min.js"></script>
    <link rel="stylesheet" href="/css/admin/createClass.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />


</head>

<body>

    <div class="innerOut" style="display:none">
        <div class="inner">
            <div class="option"></div>
            <table border='solid'>
                <th>avatar</th>
                <th>username</th>
                <th>Aim</th>
                <th>email</th>
                <th>Select</th>
                <th onclick='$(".innerOut").hide();'>X</th>
                <tbody class='taskrow'></tbody>
            </table>
        </div>
    </div>

    <div class="studentTableOut" style="display: none;">
        <div id="studentTableAdd">
            <table border='solid'>
                <thead>
                    <tr>
                        <th><input type="text" placeholder="Search.."></th>
                        <th><button onclick='$(".studentTableOut").hide();'>&times;</button></th>
                    </tr>
                    <tr>
                        <th>avatar</th>
                        <th>username</th>
                        <th>email</th>
                        <th>routeName</th>
                        <th>stage</th>
                        <th>Chose</th>
                        <th>More information</th>
                    </tr>
                </thead>
                <tbody class='taskrow111'></tbody>
            </table>
        </div>
    </div>

    <div class="attendedListOut" style="display: none;">
        <table border="solid" id="attendedList">
            <tr>
                <th>Date</th>
                <th>Day of week</th>
                <th>Room</th>
                <th>Time</th>
                <th>Action</th>
                <th><button onclick='$(".attendedListOut").fadeOut(500);'>close</button></th>

            </tr>
        </table>
    </div>

    <div class="updateScheduleFormOut" style="display: none;">
        <table border="solid" class="updateScheduleForm">
            <tr id="oldSchudule">

            </tr>
            <tr>
                <input name="updateScheduleID" type="hidden">
                <input name="updateScheduleClassID" type="hidden">
                <th>Date: <input type="date" name="dateScheduleUpdate"></th>
                <th>Ca làm việc:
                    <select class="cahocUpdate" id="cahocUpdate" onchange="cahocUpdate()">
                        <option value="7:30 đến 9:30">7:30 đến 9:30</option>
                        <option value="9:45 đến 11:45">9:45 đến 11:45</option>
                        <option value="13:30 đến 15:30">13:30 đến 15:30</option>
                        <option value="15:45 đến 17:45">15:45 đến 17:45</option>
                        <option value="18:15 đến 20:15">18:15 đến 20:15</option>
                    </select>
                </th>
                <th>
                    Available room: <select id="roomUpdate">   </select>
                </th>
                <th><button onclick='SubmitupdateScheduleForm()'>Submit</button></th>
                <th><button onclick='$(".updateScheduleFormOut").fadeOut(500);'>close</button></th>
            </tr>
        </table>
    </div>

    <div class="createClassOut" style="display: none;">
        <div id='createClass'>
            <div id="tieude">
                <p>bảng lộ trình tùy biến</p>
            </div>
            <table border="solid">
                <tbody id="routeTuyBien"> </tbody>
                <tr id='trss'></tr>
            </table>
            <div>
                <p>Create class</p>
                <label>Chọn lộ trình học</label>
                <select id="routeTypeS" class="routeName" onchange="routeType()">
                    <% targetxxx.forEach(function(targetxxx) { %>
            <option value="<%= targetxxx.routeName %>"><%= targetxxx.routeName %></option>
            <% }); %>
          </select>
                <br>
                <label for="level">Level</label>
                <select id="levelS" class="stage" onchange="level()"></select>
                <br>
                <label>Subject</label>
                <select id="subject" class="subject" onchange="getStudent()"></select>
                <br>
                <label for="topic">Class Name</label>
                <input type="text" class="className">
                <br>
                <label for="topic">Description</label>
                <input type="text" class="description">
                <br>
                <label for="topic">Student</label>

                <table id="studentTable" border='solid' style="display: none;">
                    <thead>
                        <tr>
                            <th>
                                <inputs type="text" placeholder="Search..">
                            </th>
                        </tr>
                        <tr>
                            <th>avatar</th>
                            <th>username</th>
                            <th>routeName</th>
                            <th>stage</th>
                            <th>Chose</th>
                            <th>More information</th>
                        </tr>
                    </thead>
                    <tbody class='taskrow'></tbody>
                </table>
                <br>
                <label for="topic">Teacher</label>
                <select id="teacherID">
      <% teacher.forEach(function(teacher) { %>
        <option value="<%= teacher._id %>" ><%= teacher.email %></option>
        <% }); %>

    </select>
                <br>
                <label for="topic">startDate</label>
                <input type="date" class="startDate" id="startDate">
                <label for="topic">endDate</label>
                <input type="date" class="endDate" id="endDate">
                <br>
                <label for="topic">Số buổi học 1 tuần</label>
                <input type="number" id="Schedule" onchange="tuan()" min=0 max=7>
                <br>
                <div id="datlich"></div>
                <br>
                <button onclick="$('.createClassOut').slideUp(500)"> Close</button>
                <button type="submit" class="btn5" onclick="abc()">Submit1</button>
            </div>
        </div>
    </div>

    <div class="updateClassOut" style="display: none;">
        <div id='updateClass'>
            <div id="tieude">
                <p>bảng lộ trình tùy biến</p>
            </div>
            <table border="solid">
                <tbody id="routeTuyBien"> </tbody>
                <tr id='trss'></tr>
            </table>
            <div>
                <p>Create class</p>
                <label>Chọn lộ trình học</label>
                <select id="routeTypeS" class="routeName" onchange="routeType()">
                    <% targetxxx.forEach(function(targetxxx) { %>
            <option value="<%= targetxxx.routeName %>"><%= targetxxx.routeName %></option>
            <% }); %>
          </select>
                <br>
                <label for="level">Level</label>
                <select id="levelS" class="stage" onchange="level()"></select>
                <br>
                <label>Subject</label>
                <select id="subject" class="subject" onchange="getStudent()"></select>
                <br>
                <label for="topic">Class Name</label>
                <input type="text" class="className">
                <br>
                <label for="topic">Description</label>
                <input type="text" class="description">
                <br>
                <label for="topic">Student</label>

                <table id="studentTable" border='solid' style="display: none;">
                    <thead>
                        <tr>
                            <th>
                                <inputs type="text" placeholder="Search..">
                            </th>
                        </tr>
                        <tr>
                            <th>avatar</th>
                            <th>username</th>
                            <th>routeName</th>
                            <th>stage</th>
                            <th>Chose</th>
                            <th>More information</th>
                        </tr>
                    </thead>
                    <tbody class='taskrow'></tbody>
                </table>
                <label for="topic">Teacher</label>
                <select class="teacherID">
      <% teacher.forEach(function(teacher) { %>
        <option value="<%= teacher._id %>" ><%= teacher.username %> </option>
      <% }); %>
    </select>
                <br>

                <label for="topic">startDate</label>
                <input type="date" class="startDate" id="startDate">
                <label for="topic">endDate</label>
                <input type="date" class="endDate" id="endDate">
                <br>
                <label for="topic">Số buổi học 1 tuần</label>
                <input type="number" id="Schedule" onchange="tuan()" min=0 max=7>
                <br>
                <div id="datlich"></div>
                <br>
                <button onclick="$('.updateClassOut').slideUp(500)"> Close</button>
                <button type="submit" class="btn5" onclick="abc()">Submit1</button>
            </div>
        </div>
    </div>
    <div>
        <div class="tr">
            <div class="td" onclick="location.href='/admin';"><i class="fas fa-house-user"></i> Trang chủ admin</div>
            <div class="td" onclick="location.href='/admin/createAccount';"><i class="fas fa-address-book"></i> Create account
            </div>
            <div class="td" onclick="consultingAll('0')"><i class="fas fa-list-alt"></i> Consulting All</div>
            <div class="td" onclick="location.href='/admin/dashboard';"><i class="fas fa-chart-line"></i> Dashboard
            </div>
            <div class="td" onclick="location.href='/admin/assignRoomAndTime';"><i class="fas fa-house-user"></i> assignRoomAndTime
            </div>
            <div class="td" onclick="location.href='/admin/createClass';"><i class="fas fa-house-user"></i> createClass
            </div>
            <div class="td"><i class="fas fa-sign-out-alt"></i> Log Out</div>
        </div>
    </div>
    <div class="body">
        <h2>All class level</h2>
        <button onclick="$('.createClassOut').toggle(500)"> Tạo lớp</button>
        <table border="solid">
            <th>Class name</th>
            <th>routeName</th>
            <th>stage</th>
            <th>subject</th>
            <th>Description</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Student List</th>
            <th>Action</th>
            <th>Status</th>
            <% ClassModel.forEach(function(ClassModel) { %>
                <tr id="<%= ClassModel._id %>">
                    <td>
                        <%= ClassModel.className %>
                    </td>
                    <td>
                        <%= ClassModel.routeName %>
                    </td>
                    <td>
                        <%= ClassModel.stage %>
                    </td>
                    <td>
                        <%= ClassModel.subject %>
                    </td>
                    <td>
                        <%= ClassModel.description %>
                    </td>
                    <td>
                        <%= ClassModel.startDate %>
                    </td>
                    <td>
                        <%= ClassModel.endDate %>
                    </td>

                    <td><button id="btn1" onclick="sendData('<%= ClassModel._id %>','<%= ClassModel.subject %>')">List of student</button></td>
                    <td>
                        <button onclick="upDateSchedule('<%= ClassModel._id %>')">upDate schedule </button>
                        <button onclick="deleteClass('<%= ClassModel._id %>')">delete</button>
                    </td>
                    <td>
                        <%= ClassModel.classStatus %>
                    </td>
                </tr>
                <% }); %>
        </table>
</body>
<script>
    //hiển thị danh sách lịch giảng dạy để admin chọn vào thay đổi lịch làm việc 1 ngày nào đó trong list
    function upDateSchedule(id) {
        var idClass = id
        $.ajax({
            url: '/teacher/attendedList',
            method: 'get',
            dataType: 'json',
            data: {
                id: id
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $("#attendedList").html($("#attendedList tr:first-child"))
                    $.each(response.data[0].schedule, function(index, data) {
                        $("#attendedList").append('<tr id="infor' + data._id + '"><td>' + data.date.split("T00:00:00.000Z")[0] + '</td><td>' + data.day + '</td><td>' + data.room + '</td><td>' + data.time + '</td><td><button  onclick=updateScheduleForm("' + data._id + '","' + idClass + '")>Update</button><input id ="' + data._id + '"type="hidden" value="' + data + '"></td></tr>    ')
                    });
                    $(".attendedListOut").fadeIn(500)
                }
            },
            error: function(response) {
                alert('server error');
            }
        });
    }
    //hiển thị form update lịch cho giáo viên
    function updateScheduleForm(scheduleID, classID) {
        $("input[name='updateScheduleID']").val(scheduleID)
        $("input[name='updateScheduleClassID']").val(classID)
        $("#oldSchudule").html($("#infor" + scheduleID + " td:not(:last-child)").clone())
        $(".updateScheduleFormOut").fadeIn(500)
    }

    //hiênr thị các phòng trống để giáo viên giảng dạy khi cập nhật, chuyển lịch giảng dạy
    function cahocUpdate() {
        var date = new Date($("input[name='dateScheduleUpdate']").val())
        var dayOfWeek = (date.getDay() + 1)
        if (dayOfWeek == '1') {
            dayOfWeek = "8"
        }
        $.ajax({
            url: '/admin/getThu',
            method: 'get',
            dataType: 'json',
            data: {
                dayOfWeek: dayOfWeek,
                time: $('#cahocUpdate').val()
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $("#roomUpdate").html("")
                    $.each(response.data, function(index, data) {
                        $.each(data.room, function(index, room) {
                            if (room.time == $('#cahocUpdate').val() && room.status == "None") {
                                $("#roomUpdate").append('<option value = "' + room.room + '" > ' + room.room + ' </option>')
                            }
                        });
                    });
                }
                if (response.msg == 'error') {}
            },
            error: function(response) {
                alert('server error');
            }
        })
    }

    //thực hiện cập nhật, chuyển đổ lịch giảng dạy cho giáo viên
    function SubmitupdateScheduleForm() {
        var date = new Date($("input[name='dateScheduleUpdate']").val())
        var dayOfWeek = '0' + (date.getDay() + 1)
        if (dayOfWeek == '01') dayOfWeek = "08"
        var old = []
        $("#infor" + scheduleID + " td:not(:last-child)").each(function() {
            old.push($(this).text().trim())
        })
        var update = {
            "schedule.$.time": $('#cahocUpdate').val(),
            "schedule.$.room": $('#roomUpdate').val(),
            "schedule.$.day": dayOfWeek,
            "schedule.$.status": "update"
        }
        $.ajax({
            url: '/admin/doupdateSchedule',
            method: 'post',
            dataType: 'json',
            data: {
                update,
                classID: $("input[name='updateScheduleClassID']").val(),
                date: $("input[name='dateScheduleUpdate']").val(),
                scheduleID: $("input[name='updateScheduleID']").val(),
                old: old
            },
            success: function(response) {
                if (response.msg == 'success') {
                    alert("success")
                }
                if (response.msg == 'error') {
                    alert("error")
                }
            },
            error: function(response) {
                alert('server error');
            }
        });
    }

    function deleteClass(id) {
        $.ajax({
            url: '/admin/deleteClass',
            method: 'get',
            dataType: 'json',
            data: {
                id: id
            },
            success: function(response) {
                if (response.msg == 'success') alert('success ');
                if (response.msg == 'error') alert('error ');
            },
            error: function(response) {
                alert('server error');
            }
        });
    }

    //lấy danh sách các học sinh trong lớp
    function sendData(id, subject) {
        var _id = id

        $(".option").html("<button onclick=addStudent('" + id + "','" + subject + "')>Them học sinh vào lớp</button><button onclick=removeStudent('" + id + "','" + subject + "')>Xóa học sinh trong lớp</button>")
        $.ajax({
            url: '/teacher/allClassStudent',
            method: 'get',
            dataType: 'json',
            data: {
                abc: _id
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $(".taskrow").html("")
                    $.each(response.data, function(index, data) {
                        if (data.studentID.length == 0) {
                            alert('không có học sinh trong lớp')
                        } else {
                            $.each(data.studentID, function(index, studentID) {
                                $(".taskrow").append("<tr><td><img style ='max-width:150px;max-height:200px' src='" + studentID.ID.avatar + "'></td><td>" + studentID.ID.username + "</td><td>" + studentID.ID.aim + "</td><td>" + studentID.ID.email + "</td><td><input type='checkbox' class='removeFormClass' value='" + studentID.ID._id + "' /></td></tr>");
                            });
                        }
                    });
                    $(".innerOut").fadeIn(500);
                }
                if (response.msg == 'error') alert("error")
            },
            error: function(response) {
                alert('server error');
            }
        });
    }

    //hiển thị các học sinh có mức độ tương ứng với lớp đã chọn để xem xét thêm vào lớp
    function addStudent(classID, subject) {
        var infor4 = []
        $("#" + classID + " td").each(function() {
            infor4.push($(this).text())
        })
        var checkClassID = classID
        var checksubject = subject
        var condition = {
            role: 'student',
            routeName: infor4[1].trim(),
            stage: infor4[2].trim(),
        }
        $.ajax({
            url: '/teacher/addStudentToClass',
            method: 'get',
            dataType: 'json',
            data: {
                condition
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $('.taskrow111').html('');
                    $.each(response.data, function(index, data) {
                        if (data.classID.includes(checkClassID) == true) {} else if ((data.classID.includes(checkClassID) == false) && (data.subject.includes(checksubject) == false)) {
                            $(".taskrow111").append("<tr><td><img style ='max-width:150px;max-height:200px' src='" + data.avatar + "'></td><td>" + data.username + "</td><td>" + data.email + "</td><td>" + data.routeName + "</td><td>" + data.stage + "</td><td><input type='checkbox' class='hobby' value='" + data._id + "' /></td><td>" + "<button class='del' value='" + data._id + "'>View</button>" + "</td></tr>");
                        }
                    });
                    $(".taskrow111").append("<button onclick= doAddToClass('" + classID + "','" + subject + "')>Add to Class</button>");
                    $('.studentTableOut').show();
                }
            },
            error: function(response) {
                alert('server error');
            }
        })
    }


    //thêm học sinh vaof 1 lớp
    function doAddToClass(classID, subject) {
        var classID = classID

        var studentlist = [];
        $('.hobby').each(function() {
            if ($(this).is(":checked")) {
                studentlist.push({
                    'ID': $(this).attr('value')
                });
            }
        });

        var studentlistcl = [];
        $('.hobby').each(function() {
            if ($(this).is(":checked")) {
                studentlistcl.push($(this).attr('value'));
            }
        });

        $.ajax({
            url: '/teacher/doaddStudentToClass',
            method: 'post',
            dataType: 'json',
            data: {
                studentlistcl: studentlistcl,
                studentlist: studentlist,
                classID: classID,
                subject: subject
            },
            success: function(response) {
                if (response.msg == 'success') {
                    alert('add success ');
                    $(".innerOut").hide();
                    $(".studentTableOut").hide();
                    sendData(classID);
                }
                if (response.msg == 'error') {
                    alert('add error ');
                }
            },
            error: function(response) {
                alert('server error');
            }
        })
    }


    //xóa học sinh khỏi 1 lớp
    function removeStudent(classID, subject) {
        var classID = classID
        var studentlistcl = [];
        $('.removeFormClass').each(function() {
            if ($(this).is(":checked")) {
                studentlistcl.push($(this).attr('value'));
            }
        });
        $.ajax({
            url: '/teacher/doremoveStudentToClass',
            method: 'post',
            dataType: 'json',
            data: {
                studentlistcl: studentlistcl,
                classID: classID,
                subject: subject
            },
            success: function(response) {
                if (response.msg == 'success') {
                    alert('remove success ');
                    $(".innerOut").hide();
                    sendData(classID);
                }
                if (response.msg == 'error') {
                    alert('remove error ');
                }
            },
            error: function(response) {
                alert('server error');
            }
        })
    }

    //lấy các ngày trong khoảng thời gian học
    var getDaysArray = function(start, end) {
        for (var arr = [], dt = new Date(start); dt <= end; dt.setDate(dt.getDate() + 1)) {
            arr.push(new Date(dt));
        }
        return arr;
    };
    //thêm form điền thông tin cho các tuần
    function tuan() {
        $("#datlich").html("")
        for (var i = 0; i < $("#Schedule").val(); i++) {
            $("#datlich").append('Buoi ' + (i + 1) + ' Thứ: <input type="number" class ="buoihocthu" name="Schedule' + i + '" min=2 max=8 onchange=getTime("' + i + '")> giờ học:<select class= "cahoc" id="cahoc' + i + '" onchange="getThu(' + i + ')"></select>Room:<select class="Room" id="Room' + i + '"></select><br>')
        }
    }
    //lấy các ca làm của giáo viên trong ngày đã chọn (tránh trường hợp 1 giáo viên dạy chung 1 ca làm và ở 2 phòng khác nhau )
    function getTime(i) {
        $('#cahoc' + i).html('<option value="7:30 đến 9:30">7:30 đến 9:30</option><option value="9:45 đến 11:45">9:45 đến 11:45</option><option value="13:30 đến 15:30">13:30 đến 15:30</option><option value="15:45 đến 17:45">15:45 đến 17:45</option><option value="18:15 đến 20:15">18:15 đến 20:15</option>')
        $.ajax({
            url: '/admin/getTime',
            method: 'get',
            dataType: 'json',
            data: {
                dayOfWeek: $("input[name='Schedule" + i + "']").val(),
                teacherID: $(".teacherID").val(),
            },
            success: function(response) {
                if (response.msg == 'success') {
                    console.log(response.data)
                    $.each(response.data, function(index, data) {
                        $.each(data.schedule, function(index, schedule) {
                            console.log(schedule.time)
                            $('#cahoc' + i + ' option[value="' + schedule.time + '"]').remove()
                        });
                    });
                }
                if (response.msg == 'error') {}
            },
            error: function(response) {
                alert('server error');
            }
        })
    }
    //chọn các phòng trống để dạy
    function getThu(i) {
        var dayOfWeek = $("input[name='Schedule" + i + "']").val()
        var time = $("#cahoc" + i + "").val()
        $.ajax({
            url: '/admin/getThu',
            method: 'get',
            dataType: 'json',
            data: {
                dayOfWeek: dayOfWeek,
                time: time
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $("#Room" + i + "").html("")
                    $.each(response.data, function(index, data) {
                        $.each(data.room, function(index, room) {
                            if (room.time == time && room.status == "None") {
                                $("#Room" + i + "").append('<option value = "' + room.room + '" > ' + room.room + ' </option>')
                            }
                        });
                    });
                }
                if (response.msg == 'error') {}
            },
            error: function(response) {
                alert('server error');
            }
        })
    }

    //tiến hành tạo lớp
    async function abc() {

        var studentID = []
        var listStudent = []
        var attend = []
        $("input[name='hobby']").each(function(data) {
            if ($(this).is(':checked')) {
                studentID.push($(this).val())
                listStudent.push({
                    'ID': $(this).val()
                });
                attend.push({
                    "studentID": $(this).val(),
                    "attended": ""
                })
            }
        })

        //lấy các thứ trong tuần
        var buoihoc = []
        $(".buoihocthu").each(function(data) {
            buoihoc.push($(this).val())
        })

        var time = []
        $(".cahoc").each(function() {
            time.push($(this).val())
        })

        var room = []
        $(".Room").each(function() {
            room.push($(this).val())
        })
        var schedual = []

        var range = getDaysArray(new Date($("#startDate").val()), new Date($("#endDate").val()));
        //lấy các buổi học trong khoảng thời gian
        for (var i = 0; i < range.length; i++) {
            for (var u = 0; u < buoihoc.length; u++) {
                if (range[i].getDay() == (buoihoc[u] - 1)) {
                    var date = range[i].getFullYear() + "-" + (range[i].getMonth() + 1).toString().padStart(2, "0") + "-" + range[i].getDate().toString().padStart(2, "0")
                    var day = (range[i].getDay() + 1).toString().padStart(2, "0")
                    schedual.push({
                        "time": time[u],
                        "room": room[u],
                        "date": date,
                        "day": day,
                        "attend": attend
                    })
                    break;
                }
            }
        }
        var formData = {
            className: $(".className").val(),
            subject: $(".subject").val(),
            routeName: $(".routeName").val(),
            stage: $(".stage").val(),
            description: $(".description").val(),
            teacherID: $(".teacherID").val(),
            endDate: $(".endDate").val(),
            startDate: $(".startDate").val(),
            studentID: studentID,
            listStudent: listStudent,
            schedual: schedual,
            time: time,
            room: room,
            buoihoc: buoihoc
        }
        $.ajax({
            url: '/admin/createClass',
            method: 'post',
            dataType: 'json',
            data: formData,
            success: function(response) {
                if (response.msg == 'success') {
                    alert("OK")
                }
                if (response.msg == 'error') {
                    alert("error")
                }
            },
            error: function(response) {
                alert('server error');
            }
        })

    }

    //lấy thông tin của lộ trình học
    function routeType() {
        var routeName = $('#routeTypeS').val();
        $.ajax({
            url: '/admin/getStage',
            method: 'get',
            dataType: 'json',
            data: {
                abc: routeName
            },
            success: function(response) {
                $('#tieude').html('');
                $('#routeTuyBien').html('');
                $('#trss').html('');

                if (response.msg == 'success') {
                    $('#levelS').html('');
                    $.each(response.data, function(index, data) {
                        $.each(data.routeSchedual, function(index, routeSchedual) {
                            var update = "<option value=" + routeSchedual.stage + ">" + routeSchedual.stage + "</option>"
                            $("#levelS").append(update);
                        });
                    });
                    $.each(response.targetxxx, function(index, targetxxx) {
                        $("#tieude").append("<p>Lộ trình:" + targetxxx.routeName + "</p><p>Miêu tả:" + targetxxx.description + "</p>");
                        $.each(targetxxx.routeSchedual, function(index, routeSchedual) {
                            $("#routeTuyBien").append("<th>Stage: " + routeSchedual.stage + "</th>");
                        });
                        $.each(targetxxx.routeSchedual, function(index, routeSchedual) {
                            $("#trss").append("<td id='lol" + index + "'></td>");
                            $.each(routeSchedual.routeabcd, function(indexx, routeabcd) {
                                var y = '#lol' + index
                                $(y).append("<li>" + routeabcd + "</li>");
                            });
                        });
                    });

                }
            },
            error: function(response) {
                alert('server error');
            }
        })
    }
    //lấy thông tin level, mốc của lộ trình đã chọn
    function level() {
        var routeName = $('#routeTypeS').val();
        var levelS = $('#levelS').val();
        $.ajax({
            url: '/admin/getStage',
            method: 'get',
            dataType: 'json',
            data: {
                abc: routeName,
                levelS: levelS,
            },
            success: function(response) {
                if (response.msg == 'success') {
                    $('#subject').html('');
                    $('.taskrow').html('');
                    $('#studentTableOut').show();
                    $.each(response.data, function(index, data) {
                        $.each(data.routeSchedual, function(index, routeSchedual) {
                            if (routeSchedual.stage == levelS) {
                                $.each(routeSchedual.routeabcd, function(index, routeabcd) {
                                    var update = "<option value=" + routeabcd + ">" + routeabcd + "</option>"
                                    $("#subject").append(update);
                                });
                            }
                        });
                    });
                }
            },
            error: function(response) {
                alert('server error');
            }
        })
    }

    //lấy các học sinh đang học tình trạng học tập tại mức độ đã chọn để thêm vào lớp
    function getStudent() {
        var routeName = $('#routeTypeS').val();
        var levelS = $('#levelS').val();
        $.ajax({
            url: '/admin/getStudent',
            method: 'get',
            dataType: 'json',
            data: {
                abc: routeName,
                levelS: levelS,
            },
            success: function(response) {
                if (response.msg == 'success') {
                    if (response.student.length == 0) {
                        $('.taskrow').html('');
                    } else {
                        $('.taskrow').html('');
                        $('#studentTable').show();
                        $.each(response.student, function(index, student) {
                            if (!student.subject.includes($("#subject").val())) {
                                $(".taskrow").append("<tr><td><img style ='max-width:150px;max-height:200px' src='" + student.avatar + "'></td><td>" + student.username + "</td><td>" + student.routeName + "</td><td>" + student.stage + "</td><td><input type='checkbox' name='hobby' value='" + student._id + "' /></td><td>" + "<button class='del' value='" + student._id + "'>View</button>" + "</td></tr>");
                            }
                        });
                    }
                }
            },
            error: function(response) {
                alert('server error');
            }
        })
    }
</script>

</html>