<!DOCTYPE html>
<html lang="en">

<head>
        <script src="/jquery/jquery.js"></script>
        <link rel="stylesheet" href="/css/admin/createRoute.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>


<body>
        <div class="createRouteOut" style="display: none;">
                <div class="createRoute">
                        <h2>Create route</h2>
                        <label>routeName </label>
                        <input type="text" name="routeName" id="routeName">
                        <br>
                        <label>Description</label>
                        <input type="text" name="description" id="description">
                        <br>
                        <label>Total of stage</label>
                        <input type="number" name="totalStage" id="totalStage" onchange="totalStage('create')">
                        <br>
                        <div id="addStage"></div>
                        <br>
                        <button type="submit" onclick="signUp()">Submit</button>
                        <button onclick='$(".createRouteOut").fadeOut(500);'>close</button>

                </div>
        </div>
        <div class="updateRouteOut" style="display: none;">
                <div class="updateRoute">
                        <table border="solid">
                                <h2>update route</h2>
                                <label>routeName </label>
                                <input type="text" name="routeName" id="routeNameUpdate">
                                <br>
                                <label>Description</label>
                                <input type="text" name="description" id="descriptionUpdate">
                                <br>
                                <label>Total of stage</label>
                                <input type="number" name="totalStageUpdate" id="totalStageUpdate"
                                        onchange="totalStage('update')">
                                <br>
                                <div id="addStageUpdate"></div>
                                <br>
                                <button type="submit" onclick="signUp()">Submit</button>
                                <button onclick='$(".updateRouteOut").fadeOut(500);'>close</button>

                        </table>
                </div>
        </div>
        <header>
                <ul style="float:left;font-family:cursive;">
                        <li style="width:200px"><i class="fas fa-graduation-cap" style="font-size:60px"></i>Sown English
                        </li>
                </ul>
                <ul>
                        <li><a href="#">Home page</a></li>
                        <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutCourse').offset().top-100)},1000)">About
                                        Course</a></li>
                        <li><a onclick="$('html, body').animate({scrollTop: ($('#aboutUs').offset().top-100)},1000)">About
                                        Us</a>
                        </li>
                        <li><a onclick="$('#loginForm').fadeIn(1000);">Log In</a></li>
                </ul>
        </header>
        <div class="body">
                <button onclick='$(".createRouteOut").fadeIn(500);'>Create Route</button>
                <table border="solid">
                        {{#each data}}
                        <tr>
                                <th>Tên lộ trình</th>
                                <th>Miêu tả</th>
                                <th>action</th>
                        </tr>
                        <tr id="{{_id}}">
                                <td>{{routeName}}</td>
                                <td>{{description}}</td>
                                <td><button onclick="updateRoute('{{_id}}')">Update</button>
                                        <button onclick="deleteRoute('{{_id}}')">Remove</button>
                                        <button onclick="viewSchedule('{{_id}}')">Lộ trình học</button>
                                </td>
                        </tr>
                        {{/each}}
                </table>

        </div>
</body>
<script>

        function viewSchedule(id) {
                var _id = id
                $.ajax({
                        url: '/admin/lol',
                        method: 'get',
                        dataType: 'json',
                        data: { _id: _id },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        console.log(response.data)
                                        $('#stage').html('');
                                        $('#routeSchedual').html('');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                });
        }

        function totalStage(create) {
                var stage = 1;
                if (create == 'create') {
                        $('#addStage').html("");
                        var totalStage = parseInt($('#totalStage').val());
                        for (stage = 1; stage < totalStage + 1; stage++) {
                                var add = "<label>stage" + stage + "</label><input type='text' value='" + stage + "' name='stage'><input type='text' value='" + stage + "' name='stageMoney'><br><label onclick='addRoute(" + stage + ")'>add route</label><div id='" + stage + "'></div>"
                                $('#addStage').append(add)
                        }
                } else if (create == 'update') {
                        $('#addStageUpdate').html("");
                        var totalStage = parseInt($('#totalStageUpdate').val());
                        for (stage = 1; stage < totalStage + 1; stage++) {
                                var add = "<label>stage" + stage + "</label><input type='text' value='" + stage + "' name='stageUpdate'><input type='text' value='" + stage + "' name='stageMoneyUpdate'><br><label onclick='addRouteUpdate(" + stage + ")'>add route</label><div id='" + stage + "Update'></div>"
                                $('#addStageUpdate').append(add)
                        }
                }

        }
        function addRoute(stage) {
                var x = '#' + stage
                var add = "<div class='class'><label>route</label><input type='text' value='route" + stage + "' name='route" + stage + "'><button onclick=$(this).parents('.class').remove();>Xóa</button></div>"
                $(x).append(add)
        }

        function addRouteUpdate(stage) {
                var x = '#' + stage + 'Update'
                var add = "<div class='class'><label>route</label><input type='text' value='route" + stage + "' name='routeUpdate" + stage + "'><button onclick=$(this).parents('.class').remove();>Xóa</button></div>"
                $(x).append(add)
        }

        function signUp() {
                var stageContent = [];
                var totalStage = parseInt($('#totalStage').val());
                $("input[name='stage']").each(function () {
                        stageContent.push($(this).val())
                });
                var stageMoney = [];
                $("input[name='stageMoney']").each(function () {
                        stageMoney.push($(this).val())
                });
                route = [];
                for (stage = 1; stage < totalStage + 1; stage++) {
                        if (1 < stage) route.push("space")
                        var y = "input[name='route" + stage + "']"
                        $(y).each(function () {
                                route.push($(this).val())
                        });
                }
                var formData = {
                        stageContent: stageContent,
                        stageMoney: stageMoney,
                        route: route,
                        totalStage: totalStage,
                        routeName: $("#routeName").val(),
                        description: $("#description").val(),
                };
                $.ajax({
                        url: '/admin/docreateRoute',
                        method: 'post',
                        dataType: 'json',
                        data: formData,
                        success: function (response) {
                                if (response.msg == 'success') {
                                        alert('Sign Up success');
                                }
                                if (response.msg == 'Account already exists') {
                                        alert('Account already exists');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }

        function updateRoute(id) {

        }

        function deleteRoute(id) {
                $.ajax({
                        url: '/admin/deleteRoute',
                        method: 'delete',
                        dataType: 'json',
                        data: { id: id },
                        success: function (response) {
                                if (response.msg == 'success') {
                                        alert('success');
                                }
                                if (response.msg == 'error') {
                                        alert('error');
                                }
                        },
                        error: function (response) {
                                alert('server error');
                        }
                })
        }
</script>

</html>