<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
    <!-- checkdate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.29.0/date_fns.min.js"></script>
    <link rel="stylesheet" href="/css/admin/createClass.css">
    <link rel="stylesheet" href="/css/admin/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>

    <div class="studentListOut" style="display:none">
        <div class="studentListContent">
        </div>
    </div>

    <div class="studentTableAddOut" style="display: none;">
        <div id="studentTableAdd">
        </div>
    </div>

    <div class="attendedListOut" style="display: none;">
        <div id="attendedList"></div>
    </div>

    <div class="updateScheduleFormOut" style="display: none;">
        <div class="updateSchedualContent">
            <div class='tr'>
                <div class='td' style="width:5%;">Type</div>
                <div class='td' style="width:30%;">Date</div>
                <div class='td' style="width:10%;">Day of week</div>
                <div class='td' style="width:30%;">Room</div>
                <div class='td' style="width:25%;">Time</div>
            </div>
            <div class='tr' id="oldSchudule"></div>
            <div class='tr'>
                <input name="updateScheduleID" type="hidden">
                <input name="updateScheduleClassID" type="hidden">
                <div class='td'>New</div>
                <div class='td'>Date: <input type="date" name="dateScheduleUpdate" style="font-size:18px;"></div>
                <div class="td" id="dayOfWeekUpdate"></div>
                <div class='td'>
                    Available room: <select id="roomUpdate"> </select>
                </div>
                <div class='td'>
                    <select class="cahocUpdate" id="cahocUpdate" style="font-size:18px;" onchange="cahocUpdate()">
                        <option value="7:30 to 9:30">7:30 to 9:30</option>
                        <option value="9:45 to 11:45">9:45 to 11:45</option>
                        <option value="13:30 to 15:30">13:30 to 15:30</option>
                        <option value="15:45 to 17:45">15:45 to 17:45</option>
                        <option value="18:15 to 20:15">18:15 to 20:15</option>
                    </select>
                </div>
            </div>
            <button onclick='SubmitupdateScheduleForm()' style="margin-top:10px;font-size:18px;">Submit</button>
        </div>
    </div>

    <div class="createClassOut" style="display: none;">
        <div id='createClass' style="text-align:left !important;">
            <div id="routeTuyBien" border="solid"></div>
            <div>
                <p>Chọn lộ trình học:</p>
                <select id="routeTypeS" class="routeName" onchange="routeType()">
                    {{#each targetxxx}}
                    <option value="{{routeName}}">
                        {{routeName}}
                    </option>
                    {{/each}}
                </select>
                Level: <select id="levelS" class="stage" onchange="level()"></select>
                Subject: <select id="subject" class="subject" onchange="getStudent()"></select>
                Class name: <input type="text" class="className">
                Description: <input type="text" class="description">
                <h3>Student list</h3>
                <div id="studentTable" border='solid'></div>
                <h3>Teacher: </h3>
                <div id="teacherID">
                    <img src="{{avatar}}" onclick="$('#span2').toggle(500)">
                    <figcaption>{{email}}</figcaption>
                    <input type='hidden' value="{{_id}}">
                </div>
                <div id="span2" style="display:none;height: 400px;overflow: scroll;border:solid">
                    {{#each teacher}}
                    <img src="{{avatar}}" onclick="selectedTeacher('{{email}}','{{avatar}}','{{_id}}')">
                    <figcaption>{{email}}</figcaption>
                    <input type='hidden' value="{{_id}}">
                    {{/each}}
                </div>
                Start date: <input type="date" class="startDate" id="startDate">
                End date: <input type="date" class="endDate" id="endDate">
                Number of slot per week: <input type="number" id="Schedule" onchange="tuan()" min=0 max=7>
                <div id="datlich"></div>
                <button onclick="abc()" style="font-size:18px;">Submit1</button>
            </div>
        </div>
    </div>

    <header> {{> adminHeader }}</header>
    <div class="body">
        <div class="tr" id="option">
            <div class='td'>
                <button onclick="$('.createClassOut').toggle(500)">Create class</button>
            </div>
            <div class='td'>
                Filter by Status:
                <select id="typeClass" onchange="typeClass()">
                    <option value="processing">Processing</option>
                    <option value="finished">finished</option>
                </select>
            </div>
            <div class='td' id="formSearchEndClass" style="display: none;">
                <input type="month" id="monthClass">
                <button onclick="searchEndClass()">Search</button>
            </div>
            <div class='td'>
                <input id='search' type='text' placeholder='Nhập tên lớp'>
                <button onclick="search()">Search</button>
            </div>
        </div>
        <div class="tableClass"></div>
    </div>

</body>
<script src="/js/admin/createClass.js"></script>


</html>