<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
</head>

<body>
      <table border='solid'>
            <thead>
                  <tr>
                        <th>avatar</th>
                        <th>username</th>
                        <th>level</th>
                        <th>email</th>
                        <th><img src = "{{readstream}}"></th>
                        {{#each data}}
                  <tr>
                        <td>{{avatar}}</td>
                        <td>{{username}}</td>
                        <td>{{level }} </td>
                        <td>{{email }} </td>
                  </tr>
                  {{/each}}

                  </tr>
            </thead>
            <tbody class='taskrow'></tbody>
      </table>
</body>

<script>

</script>

</html>