<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <h2>All class level</h2>
    <p><a href='/admin/createClass'>Create class</a></p>

    <table border="solid">
        <th>Class name</th>
        <th>routeName</th>
        <th>stage</th>
        <th>subject</th>
        <th>Description</th>
        <th>Teacher</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Student List</th>
        {{#each classInfor}}
        <tr>
            <td>
                {{className }}
            </td>
            <td>
                {{routeName }}
            </td>
            <td>
                {{stage }}
            </td>
            <td>
                {{subject }}
            </td>
            <td>
                {{description }}
            </td>
            <td>
                {{#each studentID}}
                {{#each ID}}
                <ul>
                    {{username}}
                </ul>
                {{/each}}
                {{/each}}

            </td>
            <td>
                {{startDate }}
            </td>
            <td>
                {{endDate }}
            </td>
            <td id="btn1" onclick="sendData('{{id}}')">List of student</td>
        </tr>
        {{/each}}
    </table>
    <div class="inner">
        <table class='taskrow' border='solid'>
        </table>
    </div>

    <div class="studentAssessment" style="display:none">
        <table class='' border='solid'>
            <h2>studentAssessment form</h2>
            <label id='classID'></label><br>
            <label id='studentID'></label>
            <label id='name'>Name</label>
            <label id='email'>Email</label>
            <label for="topic">Grade</label>
            <select class="level" id="grade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <br>
            <label>Comment</label>
            <input type="text" id="comment">
            <br>
            <button onclick="takeFeedBack()"> Tiến hành đánh giá</button>
            <p onclick="cancle()">cancle</p>
        </table>
    </div>
</body>
<script src="/allClassTeacher.js"></script>

</html>