<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <h2>All class level</h2>
    <p><a href='/admin/createClass'>Create class</a></p>
<form action="/teacher/doremoveStudentToClass" method='post'>
<button >sbutmit</button></form>
    <table border="solid">
        <th>Class name</th>
        <th>routeName</th>
        <th>stage</th>
        <th>subject</th>
        <th>Description</th>
        <th>Teacher</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Student List</th>
        {{#each classInfor}}
        <tr>
            <td>
                {{className }}
            </td>
            <td>
                {{routeName }}
            </td>
            <td>
                {{stage }}
            </td>
            <td>
                {{subject }}
            </td>
            <td>
                {{description }}
            </td>
            <td>
                {{teacherID.username }}
            </td>
            <td>
                {{startDate }}
            </td>
            <td>
                {{endDate }}
            </td>
            <td><button id="btn1" onclick="sendData('{{_id}}','{{routeName}}','{{stage}}','{{subject}}')">List of student</button></td>
        </tr>
        {{/each}}
    </table>
    <div class="inner">
        <table class='taskrow' border='solid'>
        </table>
    </div>

    

    <table id="studentTable" border='solid' style="display: none;">
        <thead>
            <tr>
                <th><input id="myInputxxxx" type="text" placeholder="Search.."></th>
            </tr>
            <tr>
                <th>avatar</th>
                <th>username</th>
                <th>routeName</th>
                <th>stage</th>
                <th>Chose</th>
                <th>More information</th>
            </tr>
        </thead>
        <tbody class='taskrow111'></tbody>
    </table>

<div class="studentAssessment" style="display:none">
        <table class='' border='solid'>
            <h2>studentAssessment form</h2>
            <label id='classID'></label><br>
            <label id='studentID'></label>
            <label id='name'>Name</label>
            <label id='email'>Email</label>
            <label for="topic">Grade</label>
            <select class="level" id="grade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <br>
            <label>Comment</label>
            <input type="text" id="comment">
            <br>
            <button onclick="takeFeedBack()"> Tiến hành đánh giá</button>
            <p onclick="canclestudentAssessment()">cancle</p>
        </table>
    </div>
    
    <div class="studentAssessmentUpdate" style="display:none">
        <table border='solid'>
            <h2>Update studentAssessment form</h2>
            <label>ClassID:<p id='updateclassID'></p></label><br>
            <label>StudentID:<p id='updatestudentID'></p></label>
            <label>
                <p id='updatename'></p>
            </label>
            <label for="topic">Grade</label>
            <select class="level" id="updategrade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <br>
            <label>Comment</label>
            <input type="text" id="updatecomment">
            <br>
            <button onclick="updateFeekBack()">cập nhật Tiến hành đánh giá</button>
            <p onclick="canclestudentAssessmentUpdate()">cancle</p>
        </table>
    </div>
</body>
<script src="/allClassTeacher.js"></script>

</html>