<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <h2>All class level</h2>
    <p><a href='/admin/createClass'>Create class</a></p>

    <table border="solid">
        <th>Class name</th>
        <th>Level</th>
        <th>Description</th>
        <th>Teacher</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Student List</th>
        {{#each classInfor}}
        <tr>
            <td>
                {{_id }}
            </td>
            <td>
                {{className }}
            </td>
            <td>
                {{level }}
            </td>
            <td>
                {{description }}
            </td>
            <td>
                {{teacherID.username }}
            </td>
            <td>
                {{startDate }}
            </td>
            <td>
                {{endDate }}
            </td>
            <td id="btn1" onclick="sendData('{{id}}')">List of student</td>
        </tr>
        {{/each}}
    </table>
    <tbody>

    </tbody>
    <div class="inner">
        <table class='taskrow' border='solid'>
        
        </table>
    </div>
</body>
    <script src="/allClassTeacher.js"></script>  
</html>