<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>


</head>

<body>
    <h2>All class level</h2>
    <p><a href='/admin/createClass'>Create class</a></p>
    <p><button onclick="allActivityProposal()">allProposal</button></p>
    <table border="solid">
        <th>Class name</th>
        <th>routeName</th>
        <th>stage</th>
        <th>subject</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Student List</th>
        <th>Out Door Activity</th>
        {{#each classInfor}}
        <tr id="{{_id}}">
            <td>{{className}}</td>
            <td>{{routeName}}</td>
            <td>{{stage}}</td>
            <td>{{subject}}</td>
            <td>{{description}}</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td><button id="btn1" onclick="sendData('{{_id}}')">List of student</button></td>
            <td>
                <div class="{{_id}}" style="display:none;"><input type="file" class="uploadProposal"><button
                        onclick="uploadProposal('{{_id}}')">Submit file</button></div>
                <button onclick="openSubmitProposal('{{_id}}')">Upload proposal</button>

            </td>
        </tr>
        {{/each}}
    </table>
    <div class="inner" style="display:none">
        <div class="option"></div>
        <table border='solid'>
            <th>avatar</th>
            <th>username</th>
            <th>Aim</th>
            <th>email</th>
            <th>grade</th>
            <th>feedBackContent</th>
            <th>Select</th>
            <th>Chat</th>
            <th>đánh giá</th>
            <th onclick='closeStudentList()'>X</th>
            <tbody class='taskrow'></tbody>
        </table>
    </div>


    <div id="studentTable" style="display: none;">
        <table border='solid'>
            <thead>
                <tr>
                    <th><input id="myInputxxxx" type="text" placeholder="Search.."></th>
                    <th><button onclick="cancleTableAddTstudent()">&times;</button></th>
                </tr>
                <tr>
                    <th>avatar</th>
                    <th>username</th>
                    <th>email</th>
                    <th>routeName</th>
                    <th>stage</th>
                    <th>Chose</th>
                    <th>More information</th>
                </tr>
            </thead>
            <tbody class='taskrow111'></tbody>
        </table>
    </div>

    <div class="studentAssessment" style="display:none">
        <table class='' border='solid'>
            <h2>studentAssessment form</h2>
            <span>ClassID: <label id='classID'></label> </span><br>
            <span>StudentID: <label id='studentID'></label> </span><br>
            <span>Name: <label id='name'></label> </span><br>
            <span>Email: <label id='email'></label> </span><br>
            <span for="topic">Grade</span><br>
            <select class="level" id="grade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <br>
            <label>Comment</label>
            <input type="text" id="comment">
            <br>
            <button onclick="takeFeedBack()"> Tiến hành đánh giá</button>
            <p onclick="canclestudentAssessment()">cancle</p>
        </table>
    </div>

    <div class="studentAssessmentUpdate" style="display:none">
        <table border='solid'>
            <h2>Update studentAssessment form</h2>
            <span>ClassID: <label id='updateclassID'></label> </span><br>
            <span>StudentID: <label id='updatestudentID'></label> </span><br>
            <span>Updatename: <label id='updatename'></label> </span><br>
            <span for="topic">Grade</span>
            <select class="level" id="updategrade">
                <option value="Greate">Greate </option>
                <option value="Good">Good</option>
                <option value="Soso">Soso</option>
                <option value="Restudy">Restudy</option>
            </select>
            <br>
            <label>Comment</label>
            <input type="text" id="updatecomment">
            <br>
            <button onclick="updateFeekBack()">cập nhật Tiến hành đánh giá</button>
            <p onclick="canclestudentAssessmentUpdate()">cancle</p>
        </table>
    </div>
    <div class="allActivityProposal" style="display:none">
        <table border='solid'>
            <tr>
                <th><input id="myInputxxxx" type="text" placeholder="Search.."></th>
                <th><button onclick="cancleAllActivityProposal()">&times;</button></th>
            </tr>
            <tr>
                <th>ClassID</th>
                <th>ClassName</th>
                <th>File</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
            <tbody class='allActivityProposalBody'></tbody>
        </table>
    </div>
</body>
<script src="/allClassTeacher.js"></script>

</html>