<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <h2>All class level</h2>
    <p><a href='/admin/createClass'>Create class</a></p>

    <table border="solid">
        <th>Class name</th>
        <th>Level</th>
        <th>Description</th>
        <th>Teacher</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Student List</th>
        {{#each classInfor}}
        <tr>
            <td>
                {{_id }}
            </td>
            <td>
                {{className }}
            </td>
            <td>
                {{level }}
            </td>
            <td>
                {{description }}
            </td>
            <td>
                {{teacherID.username }}
            </td>
            <td>
                {{startDate }}
            </td>
            <td>
                {{endDate }}
            </td>
            <td id="btn1" onclick="sendData('{{id}}')">List of student</td>
        </tr>
        {{/each}}
    </table>
    <div class="inner">
        <table class='taskrow' border='solid'>

        </table>
    </div>

    <div class="studentAssessment" style="display:none">
        <table class='' border='solid'>
            <h2>studentAssessment form</h2>
            <label for="classID">ClassID</label>\
            <p id='classID'></p>
            <label for="facultyname">StudentID</label>\
            <p id='studentID'></p>
            <br>
            <label for="facultyname">Name</label>
            <p id='name'></p>
            <br>
            <label for="topic">Email</label>
            <p id='email'></p>
            <br>
            <label for="topic">Grade</label>
            <select class="level" id="grade">
                  <option value="beginner">Beginner </option>
                  <option value="highBeginner">High Beginner</option>
                  <option value="lowIntermediate">Low Intermediate</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="highAdvanced">High Advanced </option>
                  <option value="advanced">Advanced</option>
            </select>
            <br>
            <label for="topic">Comment</label>
            <input type="text" id="comment">
            <br>
            <button onclick ="takeFeedBack()"> Tiến hành đánh giá</button>
            <p onclick= "cancle()">cancle</p>
        </table>
    </div>
</body>
<script src="/allClassTeacher.js"></script>

</html>