<head>
  <script src="/jquery/jquery.js"></script>
</head>
<table border="solid">
  <th>ClassID</th>
  <th>className</th>
  <th>Route</th>
  <th>Stage</th>
  <th>description</th>
  <th>Teacher Name</th>
  <th>Danh sách các bạn học sinh</th>
  <th>startDate</th>
  <th>endDate</th>
  <th>Class Status</th>
  {{#each data}}
  {{#each classID}}
  <tr>
    <td>
      {{_id }}
    </td>
    <td>
      {{className }}
    </td>
    <td>
      {{routeName }}
    </td>
    <td>
      {{stage }}
    </td>
    <td>
      {{description }}
    </td>
    <td>
      {{#each teacherID}}
      <p onclick="viewTeacherProfile('{{_id}}')">{{username}}</p>
      {{/each}}
    </td>
    <td><button id="btn1" onclick="sendData('{{_id}}')">List of student</button></td>
    <td>
      {{startDate }}
    </td>
    <td>
      {{endDate }}
    </td>
    <td>
      {{classStatus }}
    </td>
  </tr>
  {{/each}}
  {{/each}}
</table>


<div class="inner" style="display:none">
        <div class="option"></div>
        <table border='solid'>
            <th>avatar</th>
            <th>username</th>
            <th>email</th>
            <th>Chat</th>
            <th onclick='closeStudentList()'>X</th>
            <tbody class='taskrow'></tbody>
        </table>
    </div>
<div>
  <table id="teacherIn4" border='solid' style="display:none">
    <thead>
      <tr>
        <th>avatar</th>
        <th>username</th>
        <th>email</th>
        <th><input id="myInput" type="text" placeholder="Search.."></th>
        <th onclick="teacherIn4Close()">X</th>
      </tr>
    </thead>
    <tbody class='taskrow'></tbody>
  </table>
</div>
<script src="/allClassStudent.js"></script>