<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
</head>

<body>
  <div class="content">
    <h1>Student profile</h1>
    <table border="solid">
      <tr>
        <th>Avatar</th>
      </tr>
      <tr>
        <th>Username</th>
      </tr>
      <tr>
        <th>Email</th>
      </tr>
      <tr>
        <th>Route </th>
      </tr>
      <tr>
        <th>Stage</th>
      </tr>
      <tr>
        <th>classID</th>
      </tr>
      <tr>
        <th>Phone</th>
      </tr>
      <tr>
        <th>Birthday</th>
      </tr>
      <tr>
        <th>Address</th>
      </tr>
      <tr>
        <th>Update information</th>

      </tr>
      <tr>
        {{#each data}}
        <td><img style='max-width:150px;max-height:200px' src='data:image/jpeg;base64,{{avatar}}'></td>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>{{routeName}}</td>
        <td>{{stage}}</td>
        <td>
          {{#each classID}}
          {{className}}<br><br>
          {{/each }}
          <a href='/student/allClass'>View more</a>
        </td>
        <td>{{phone}}</td>
        <td>{{birthday}}</td>
        <td>{{address}}</td>
        <td><a href="/coordinator/update{{_id}}">Update</a></td>
        {{/each}}
      </tr>

    </table>
</body>

</html>