<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/homemanage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css
">
    <script src="https://code.jquery.com/jquery-3.6.0.js
"></script>
    <script>
      $(document).ready(function(){
        $('.checkbtn').click(function(){
          $('ul').toggleClass('show');
        });
      });
    </script>

    <title>Document</title>
</head>
<body>
  <div class="layout">
    <div class="header">
      <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars" ></i>
        </label>
      <a href="/logout"><span class="logout">&times;</span></a>

    </div>
        <div class="layout1">
            <div class="menu">
                <ul>
                    <li><a href="/account/indexManager" >Home</a></li>
                    <li><a href="/manage/allfaculty">All faculty</a></li>
                </ul>

            </div>
            <div class="content">
  <form action ="/file/abc" method="post" name="">
        <input type="hidden" name="facultyID" value="{{facultyID}}"/> 

      <input type="hidden" name="hobby" value="."/> 
  <table class="table">
    <h1>Student contributions</h1>
    <div class="swapbtn">
      <input type="submit" id="btn" value="Download"/>
      <input type="button" class="btn" id = "allornone" name = "allornone" onclick='UnSelectAll()' value="Unselect All"/>
    <input type="button" class="btn" id = "allornone" name = "allornone" onclick='selectAll()' value="Select All" />
    </div>
    <th class="col1">Choose</th>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
    {{#each data}}
        <tr>
          <td>
            <input type="checkbox" name="hobby" value="{{filePathdoc}}"/> 
          </td>
            <td>
                <a href="/download/{{_id}}"></a>{{nameFile}}</a>                
            </td>
            <td>                
                <p>{{studentemail}}</p>
            </td>
            <td>
                <a href="/manage/readcontribution{{_id}}">View</a>
            </td>
        </tr>
      {{/each}}
      {{#each data2}}
        <tr>
          <td>
            <input type="checkbox" name="hobby" value="{{filePathdoc2}}"/> 
          </td>
            <td>
                <a href="/download2/{{_id}}">{{nameFile2}}</a>                
            </td>
            <td>                
                <p>{{studentemail}}</p>
            </td>
            <td>
                <a href="/manage/readcontribution{{_id}}">View</a>
            </td>
        </tr>
      {{/each}}
    </table>
    
    </form>

    {{!-- <form>
    <input type="button" name="col1" checked="checked"  value="Download article"/> 
    </form> --}}
      </div>
        </div>
  </div>
  
    <script>
function selectAll(){
				var items=document.getElementsByName('hobby');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=true;
				}
			}
			function UnSelectAll(){
				var items=document.getElementsByName('hobby');
				for(var i=0; i<items.length; i++){
					if(items[i].type=='checkbox')
						items[i].checked=false;
				}
			}
  // Get the modal

  </script>  
            </div>

        </div>
      </div>
    <div class="footer">
        <p>@University-2021</p>
    </div>

     
</body>
</html>